<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>estore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ToIndexServlet</display-name>
    <servlet-name>ToIndexServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToIndexServlet</servlet-name>
    <url-pattern>/toIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToViewBookServlet</display-name>
    <servlet-name>ToViewBookServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToViewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToViewBookServlet</servlet-name>
    <url-pattern>/toViewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToListServlet</display-name>
    <servlet-name>ToListServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToListServlet</servlet-name>
    <url-pattern>/toListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToRegisterServlet</display-name>
    <servlet-name>ToRegisterServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToRegisterServlet</servlet-name>
    <url-pattern>/toRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLoginServlet</display-name>
    <servlet-name>ToLoginServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLoginServlet</servlet-name>
    <url-pattern>/toLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLogoutServlet</display-name>
    <servlet-name>ToLogoutServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLogoutServlet</servlet-name>
    <url-pattern>/toLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopCartServlet</display-name>
    <servlet-name>AddShopCartServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.AddShopCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopCartServlet</servlet-name>
    <url-pattern>/user/addShopCartServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.briup.estore.web.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ToShopCartServlet</display-name>
    <servlet-name>ToShopCartServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToShopCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToShopCartServlet</servlet-name>
    <url-pattern>/toShopCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToConfirmServlet</display-name>
    <servlet-name>ToConfirmServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToConfirmServlet</servlet-name>
    <url-pattern>/user/toConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToOrderListServlet</display-name>
    <servlet-name>ToOrderListServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToOrderListServlet</servlet-name>
    <url-pattern>/user/toOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToOrderDetailServlet</display-name>
    <servlet-name>ToOrderDetailServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToOrderDetailServlet</servlet-name>
    <url-pattern>/user/toOrderDetailServlet</url-pattern>
  </servlet-mapping>
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>estore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ToIndexServlet</display-name>
    <servlet-name>ToIndexServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToIndexServlet</servlet-name>
    <url-pattern>/toIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToViewBookServlet</display-name>
    <servlet-name>ToViewBookServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToViewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToViewBookServlet</servlet-name>
    <url-pattern>/toViewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToListServlet</display-name>
    <servlet-name>ToListServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToListServlet</servlet-name>
    <url-pattern>/toListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToRegisterServlet</display-name>
    <servlet-name>ToRegisterServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToRegisterServlet</servlet-name>
    <url-pattern>/toRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLoginServlet</display-name>
    <servlet-name>ToLoginServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLoginServlet</servlet-name>
    <url-pattern>/toLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToLogoutServlet</display-name>
    <servlet-name>ToLogoutServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLogoutServlet</servlet-name>
    <url-pattern>/toLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopCartServlet</display-name>
    <servlet-name>AddShopCartServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.AddShopCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopCartServlet</servlet-name>
    <url-pattern>/user/addShopCartServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.briup.estore.web.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ToShopCartServlet</display-name>
    <servlet-name>ToShopCartServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToShopCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToShopCartServlet</servlet-name>
    <url-pattern>/toShopCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToConfirmServlet</display-name>
    <servlet-name>ToConfirmServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToConfirmServlet</servlet-name>
    <url-pattern>/user/toConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToOrderListServlet</display-name>
    <servlet-name>ToOrderListServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToOrderListServlet</servlet-name>
    <url-pattern>/user/toOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToOrderDetailServlet</display-name>
    <servlet-name>ToOrderDetailServlet</servlet-name>
    <servlet-class>com.briup.estore.web.servlet.ToOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToOrderDetailServlet</servlet-name>
    <url-pattern>/user/toOrderDetailServlet</url-pattern>
  </servlet-mapping>
</web-app>